venv
__pycache__
.pytest_cache
layer/
# Terraform lock file
**/.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

packages/
**/*.zip